page-pedidos-lista-detalle {
    .boton-continuar{
        // background-image: url(../../assets/imgs/pawprint.png) !important;
        // background-size: 150px;
        // width: 150px;
        // height: 150px;
        // color: white;
        margin: auto;
        background: rgb(153, 51, 153);
        color: white;
        border: 1px solid rgb(153, 51, 153);
    }
    .boton-cantidades{
        display: flex;
        border: 1px solid rgb(153, 51, 153);
        border-radius: 5px;
        width: 82px;
        margin: 0;
        height: 39px;
        padding: 0 3px;
        ion-icon{
            margin: auto 0;
            font-size: 1.5em;
        }
    }
    .text-input{
        text-align: center;
        color:  rgb(153, 51, 153);
    }
    .text-input[disabled] {
        opacity: 1; 
    }

}
