<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="banner-imagen">
    <img src="./assets/imgs/logo-blanco.png" alt="">
  </div>
  <form [formGroup]="formLogin" class="formulario">
    <ion-item>
      <ion-label stacked>Nombre</ion-label>
      <ion-input formControlName="correo" type="email" [(ngModel)]="cliente.correo" value=""></ion-input>
    </ion-item>
    <ion-item *ngIf="formLogin.get('correo').errors && formLogin.get('correo').dirty">
      <p *ngIf="formLogin.get('correo').hasError('required')" style="color:red;">*El correo es requerido</p> 
      <p *ngIf="formLogin.get('correo').hasError('email')" style="color:red;">*Ingrese un correo valido</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input formControlName="contrasena" type="password" [(ngModel)]="cliente.contrasena" value=""></ion-input>
    </ion-item>
    <ion-item *ngIf="formLogin.get('contrasena').errors && formLogin.get('contrasena').dirty">
      <p *ngIf="formLogin.get('contrasena').hasError('required')" style="color:red;">*La contraseña es requerida</p> 
    </ion-item>

    <ion-item style="text-align: center;">
        <button ion-button [disabled]="!formLogin.valid" (click)="LoginUsuario()">Continuar</button>
    </ion-item>
  </form>

  <!-- <div class="contenedor-formulario" >
      <form [formGroup]="formLogin" class="formulario">
        <div>
          <div class="formulario-grupo">
            <label for="">Correo</label>
            <input class="formulario-entrada" type="email" formControlName="correo"  [(ngModel)]="cliente.correo">
          </div>

            <div class="formulario-grupo">
              <label for="">Contraseña</label>
              <input class="formulario-entrada" formControlName="contrasena" [(ngModel)]="cliente.contrasena" type="password">
            </div>

        </div>

        <div class="contenedor-boton">
            <button ion-button outline class="boton-continuar" [disabled]="!formLogin.valid" (click)="LoginUsuario()">Continuar</button>
        </div>
          
      </form>
        
        

  </div> -->
  <div class="contenedor-registro">
      <a style="font-size: 1.2em; color:rgb(158, 79, 155)" (click)="goToPage(0)">Recuperar contraseña</a>
      <a style="font-size: 1.2em; color:rgb(158, 79, 155)" (click)="goToPage(1)">Registrate</a>
      <a style="font-size: 1.2em; color:rgb(158, 79, 155)" (click)="goToPage(2)">Ir al Home</a>
  </div>

  
</ion-content>
