page-servicios-detalle {
    .boton-continuar{
        // background-image: url(../../assets/imgs/pawprint.png) !important;
        // background-size: 150px;
        // width: 150px;
        // height: 150px;
        // color: white;
        margin: auto;
        background: rgba(158, 79, 155, 0.851) !important;
        color: white !important;
        border: 1px solid rgba(158, 79, 155, 0.851) !important;
    }
}
