publicidad {
    .promociones-panel{
        display: flex;
        padding: 0.5em;
        h3{
            text-align: left;
            text-align: left;
            margin: auto;
        }
        a{
            text-align: right;
            width: 100%;
            margin: auto;
        }
    }
}
