// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// ion-content{
//     //background-color:color($colors,primary);
//     background-image:url('../assets/imgs/fondo.jpg');
//     background-size:cover;
//     background-position:cover;
// }
.content{
    // background-image:url('../assets/imgs/fondo.png') !important;
    // background-size:cover;
    // background-position:cover;
    // background-color: transparent;
}
.toolbar-background {
    border-color: #9e4f9b ;
    background: #9e4f9b ;
    
}
.toolbar-title{
    color:white ;
    white-space: normal ;
}
.item{
    background: transparent ;
    background-color: transparent
}

.alert-md .alert-checkbox-label {
    overflow: hidden  ;
    -webkit-box-flex: 1  ;
    -webkit-flex: 1  ;
    -ms-flex: 1  ;
    flex: 1  ;
    text-overflow: ellipsis  ;
    white-space: nowrap  ;
    color: initial  ;
    padding: 13px 26px  ;
    white-space: pre-wrap  ;
}

.item-input ion-input, .item-input ion-textarea {
    position: static ;
    background: 9e4f9b ;
    color:white ;
}

.item-label-stacked .select-md, .item-label-floating .select-md {
    padding-left: 0 ;
    padding-top: 8px ;
    padding-bottom: 8px ;
    background: 9e4f9b ;
    color: white ;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #9e4f9b ;
    -webkit-box-shadow: inset 0 -1px 0 0 #9e4f9b ;
    box-shadow: inset 0 -1px 0 0 #9e4f9b ;
}
//IOS
.item-label-stacked .select-ios, .item-label-floating .select-ios {
    padding-left: 0 ;
    padding-top: 8px ;
    padding-bottom: 8px ;
    background: 9e4f9b ;
    color: white ;
}

.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #9e4f9b ;
    -webkit-box-shadow: inset 0 -1px 0 0 #9e4f9b ;
    box-shadow: inset 0 -1px 0 0 #9e4f9b ;
}

.alert-ios .alert-checkbox-label {
    overflow: hidden  ;
    -webkit-box-flex: 1  ;
    -webkit-flex: 1  ;
    -ms-flex: 1  ;
    flex: 1  ;
    text-overflow: ellipsis  ;
    white-space: nowrap  ;
    color: initial  ;
    padding: 13px 26px  ;
    white-space: pre-wrap  ;
}
// html{
//     background:url('../assets/imgs/fondo.jpg');
//     background-size:100% auto;
//     }

// .button{
//     margin: auto;
//     background:rgba(158, 79, 155, 0.85) !important;
//     color: white !important;
//     border: 1px solid #9e4f9bd9 !important;
// }