pedidos {
    .boton-pedir{

        background-image: url(../../assets/imgs/pawprint-yellow.png) !important;
        background-size: 200px;
        width: 200px;
        height: 200px;
        color: white;
        background-color: transparent;
        background-repeat: no-repeat;


    }
}
