<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <!-- <div class="contenedor-formulario">
        <form [formGroup]="formRegistro" class="formulario">
          <div>
            <div class="formulario-grupo">
              <label for="">Nombre</label>
              <input class="formulario-entrada" formControlName="nombre" [(ngModel)]="cliente.nombre" type="text">
              <div *ngIf="formRegistro.get('nombre').errors && formRegistro.get('nombre').dirty">
                <p *ngIf="formRegistro.get('nombre').hasError('required')" style="color:red;">*El nombre es requerido</p> 
              </div>
            </div>
            
  
            <div class="formulario-grupo">
              <label for="">Correo</label>
              <input class="formulario-entrada" formControlName="correo" [(ngModel)]="cliente.correo" type="text">
              <div *ngIf="formRegistro.get('correo').errors && formRegistro.get('correo').dirty">
                <p *ngIf="formRegistro.get('correo').hasError('required')" style="color:red;">*El correo electronico es requerido</p> 
                <p *ngIf="formRegistro.get('correo').hasError('email')" style="color:red;">*Ingrese un correo valido</p>
              </div>
            </div>
            

            <div class="formulario-grupo">
              <label for="">Dirección</label>
              <input class="formulario-entrada" formControlName="direccion" [(ngModel)]="cliente.direccion" type="text">
              <div *ngIf="formRegistro.get('direccion').errors && formRegistro.get('direccion').dirty">
                <p *ngIf="formRegistro.get('direccion').hasError('required')" style="color:red;">*La dirección es requerida</p> 
              </div>
            </div>
            

            <div class="formulario-grupo">
              <label for="">Telefono movil</label>
              <input class="formulario-entrada" formControlName="telefono" [(ngModel)]="cliente.telefono" type="text">
              <div *ngIf="formRegistro.get('telefono').errors && formRegistro.get('telefono').dirty">
                <p *ngIf="formRegistro.get('telefono').hasError('required')" style="color:red;">*El numero de telefono es requerido</p> 
              </div>
            </div>
            

            <div class="formulario-grupo">
              <label for="">Contraseña</label>
              <input class="formulario-entrada" formControlName="contrasena" [(ngModel)]="cliente.contrasena" type="password">
              <div *ngIf="formRegistro.get('contrasena').errors && formRegistro.get('contrasena').dirty">
                <p *ngIf="formRegistro.get('contrasena').hasError('required')" style="color:red;">*La contraseña es requerida</p> 
              </div>
            </div>
            
            <div class="formulario-grupo">
              <label for="">Confirmar contraseña</label>
              <input class="formulario-entrada" formControlName="confirmarContrasena" [(ngModel)]="cliente.confirmarContrasena" type="password">
              <div *ngIf="formRegistro.get('confirmarContrasena').errors && formRegistro.get('confirmarContrasena').dirty">
                <p *ngIf="formRegistro.get('confirmarContrasena').hasError('required')" style="color:red;">*La confirmacion de la contraseña es requerida</p> 
              </div>
            </div>
          </div>

          <div class="contenedor-boton">
            <button ion-button outline class="boton-continuar" [disabled]="!formRegistro.valid" (click)="GuardarInformacion()">Continuar</button>
          </div>
            
        </form>
    </div> -->

  <form [formGroup]="formRegistro" class="formulario">
    <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" [(ngModel)]="cliente.nombre" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('nombre').errors && formRegistro.get('nombre').dirty">
        <p *ngIf="formRegistro.get('nombre').hasError('required')" style="color:red;">*El nombre es requerido</p> 
      </ion-item>
      
      <ion-item>
        <ion-label stacked>Correo</ion-label>
        <ion-input formControlName="correo" type="email" [(ngModel)]="cliente.correo" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('correo').errors && formRegistro.get('correo').dirty">
        <p *ngIf="formRegistro.get('correo').hasError('required')" style="color:red;">*El correo es requerido</p>
        <p *ngIf="formRegistro.get('correo').hasError('email')" style="color:red;">*Ingrese un correo valido</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Dirección</ion-label>
        <ion-input formControlName="direccion" type="text" [(ngModel)]="cliente.direccion" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('direccion').errors && formRegistro.get('direccion').dirty">
        <p *ngIf="formRegistro.get('direccion').hasError('required')" style="color:red;">*La dirección es requerida</p> 
      </ion-item>  

      <ion-item>
        <ion-label stacked>Telefono</ion-label>
        <ion-input formControlName="telefono" type="text" [(ngModel)]="cliente.telefono" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('telefono').errors && formRegistro.get('telefono').dirty">
        <p *ngIf="formRegistro.get('telefono').hasError('required')" style="color:red;">*El telefono es requerido</p> 
      </ion-item>   

      <ion-item>
        <ion-label stacked>Contraseña</ion-label>
        <ion-input formControlName="contrasena" type="password" [(ngModel)]="cliente.contrasena" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('contrasena').errors && formRegistro.get('contrasena').dirty">
        <p *ngIf="formRegistro.get('contrasena').hasError('required')" style="color:red;">*La contraseña es requerida</p> 
      </ion-item> 

      <ion-item>
        <ion-label stacked>Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirmarContrasena" type="password" [(ngModel)]="cliente.confirmarContrasena" value=""></ion-input>
      </ion-item>
      <ion-item *ngIf="formRegistro.get('confirmarContrasena').errors && formRegistro.get('confirmarContrasena').dirty">
        <p *ngIf="formRegistro.get('confirmarContrasena').hasError('required')" style="color:red;">*La confirmación de la contraseña es requerida</p> 
      </ion-item> 
      <ion-item *ngIf="formRegistro.get('contrasena').value != formRegistro.get('confirmarContrasena').value">
        <p style="color:red;">*Las contraseñas no coinciden</p> 
      </ion-item> 
        
      <ion-item style="text-align: center">
          <button ion-button outline class="boton-continuar" [disabled]="!formRegistro.valid || (formRegistro.get('contrasena').value != formRegistro.get('confirmarContrasena').value)" (click)="GuardarInformacion()">Continuar</button>      
      </ion-item> 
    </form>    
</ion-content>
